<div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card card-food">
                    <!--CHANGE SRC OF BANNER TO IMAGE FROM API-->
                    <img class="image" src="https://tb-static.uber.com/prod/image-proc/processed_images/5a3a79bbf5e46463c5c3a2e831ba8cc4/3ac2b39ad528f8c8c5dc77c59abb683d.jpeg" alt="..."/>
                        <div class="content">
                            <div class="author">
                                <div class="row"><br/>
                                    <div class="col-md-6">
                                        <h4 class="title pull-left">{{product.Name}}<br/>
                                            <small>{{product.Category}}</small>
                                        </h4>
                                    </div>
                                    <div class="col-md-6">
                                        <h4 class="title pull-right">Price<br />
                                            <small>₡ {{product.Price}}</small>
                                        </h4>
                                    </div>
                                </div>
                                
                            </div><br/><br/>
                            <div class="row">
                                <div class="col-md-3">&nbsp;</div>
                                <div class="col-md-6">
                                    <button (click)="decrease()" class="btn btn-info btn-fill btn-round"><i class="fa fa-minus"></i></button>
                                    <a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{counter}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                                    <button (click)="increase()" class="btn btn-info btn-fill btn-round"><i class="fa fa-plus"></i></button>
                                </div>
                                <div class="col-md-3">&nbsp;</div>
                            </div>
                        </div>
                        <hr>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Adding to Cart</h4> <br/>
                    </div>
                    
                    <div class="content">
                        <br/><br/><br/><br/>
                        <div class="row"> 
                            <div *ngIf="adding" class="center">
                                <button (click)="addToCart()" class="btn btn-info btn-fill btn-simple-center">Add {{counter}} to shopping cart &nbsp;·&nbsp; ₡ {{price}}</button>
                            </div>
                            <div *ngIf="!adding" class="center">
                                <button (click)="editToCart()" class="btn btn-info btn-fill btn-simple-center">Edit {{counter}} to shopping cart &nbsp;·&nbsp; ₡ {{price}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>